
@{
    ViewBag.Title = "Login";
}
<h2>Log in</h2>
<container>
    <div align="center">
        <p>User Name</p>
        <input id="Text1" type="text" /><br /><br />
        <p>Password</p>
        <input id="Password1" type="password" /><br /><br />
        <input id="Submit1" type="submit" value="submit" />
        </div>
</container>

