
@{
    ViewBag.Title = "Signup";
}
<h2>Sign up</h2>
<container>
    <div align="center">
        <p>Email</p>
        <input id="emailSU" type="text" /><br /><br />
        <p>User Name</p>
        <input id="userNameSU" type="text" /><br /><br />
        <p>Password</p>
        <input id="PasswordSU" type="password" /><br /><br />
        <p>Confirm Password</p>
        <input id="CPasswordSU" type="password" /><br /><br />
        <input id="SubmitSU" type="submit" value="submit" />
    </div>
</container>