
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<body>
    <select name="Select2" size="5" id="ddlCars">
        <option value="">- Please select a name -</option>
        <option value"squat">Squat</option>
        <option value"benchPress">BenchPress</option>
        <option value"deadLift">DeadLift</option>
        <option value"squat">Squat</option>
        <option value"benchPress">BenchPress</option>
        <option value"deadLift">DeadLift</option>
    </select>
    <div>
        <input type="radio" name="unit" value="kg"> KG<br>
        <input type="radio" name="unit" value="lbs"> LBS<br>
    </div>
    <div>
        <input type="number">
        <button>SAVE</button>
    </div>
</body>
