
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>


<body>
    <select name="Select2" size="5" id="ddlCars">
        @if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <option value= "@item.exerciseName"> - @item.exerciseName -</option>
            }
        }
    </select> 
    <div>
        <input type="radio" name="unit" value="kg"> KG<br>
        <input type="radio" name="unit" value="lbs"> LBS<br>
    </div>
    <div>
        <input type="number">
        <button>SAVE</button>
    </div>
</body>
