
@{
    ViewBag.Title = "Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Training</h2>

<grid>
    <grid>
        <table border="1">
            <tr>
                <th>
                    <select name="Select2" size="3" id="ddlCars">
                        <option value="">- your programs -</option>
                        <option value"squat">Maintain Muscle</option>
                        <option value"benchPress">Build Muscle</option>
                        <option value"deadLift">Build Strength</option>
                    </select>
                </th>
            </tr>
            <td>
                <button type="button">Edit</button>
                <button type="button">Save</button>
                <button type="button">Delete</button>
            </td>
        </table>
    </grid>
    <grid>
        <div style="width: 80%; height: 80%; overflow-y: auto;">
            <table border="1">
                <tr>
                    <th rowspan="7">WEEK #1</th>
                    <th>DAY</th>
                    <th>EXERCISE</th>
                    <th>INTENCITY </th>
                    <th>VOLUM</th>
                </tr>
                <tr>
                    <td rowspan="3">DAY #1</td>
                    <td>testing</td>
                    <td>testing</td>
                    <td>testing</td>
                </tr>
                <tr>
                    <td>testing</td>
                    <td>testing</td>
                    <td>testing</td>
                </tr>
                <tr>
                    <td>testing</td>
                    <td>testing</td>
                    <td>testing</td>
                </tr>
                <tr>
                    <td rowspan="3">DAY #2</td>
                    <td>testing</td>
                    <td>testing</td>
                    <td>testing</td>
                </tr>
                <tr>
                    <td>testing</td>
                    <td>testing</td>
                    <td>testing</td>
                </tr>
                <tr>
                    <td>testing</td>
                    <td>testing</td>
                    <td>testing</td>
                </tr>
            </table>
        </div>
    </grid>
</grid>

