
@{
    ViewBag.Title = "Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Training</h2>

<grid>
    <grid>

        <div style="width: 200px; height: 100px; overflow-y: auto;">
            test<br />
            test<br />
            test<br />
            test<br />
            test<br />
            test<br />
            test<br />
            test<br />
            test<br />
            test<br />
            test<br />
        </div>
    </grid>
</grid>

